<!doctype html>
<title>Milestone Project - Erin Emrath</title>

<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.css"
    rel="stylesheet" type="text/css"
>
<div class=page>
  <h1>Stock Plotter for last 30 days</h1>

  <div class=metanav>


    <h2>Please enter a stock ticker (for example, AAL).</h2>

    <h4>
      <form id='answerform' method='post' action='plot' >
	<p>
		Ticker : <input type='text' name='ticker_text' />
	  </p>
        <p>
		<input type="radio" name='price_check' value='Close' align='left' checked='yes' /> Closing price<br>
		<input type="radio" name='price_check' value='Open' align='left' /> Opening price<br>
		<input type="radio" name='price_check' value='High' align='left' /> Highest price of the day<br>
		<input type="radio" name='price_check' value='Low' align='left' /> Lowest price of the day<br>

        </p>

        <p>
          <input type='submit' value='Plot' />
        </p>
      </form>
    </h4>
	<h2> {{ message }} </h2>
  </div>
</div>
